<body style="--main-bg-color: #313131; --accent-color: #10ddd3; --hover-color: #00828f; --text-color: #fff; background-color: var(--main-bg-color); overflow-y: auto">
    <h1 mat-dialog-title class="dialog-title">Edit your data</h1>
    <mat-dialog-content class="dialog-content">
      <button mat-icon-button class="close-button" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Firstname (optional)</mat-label>
        <input matInput type="text" [(ngModel)]="firstname">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Lastname (optional)</mat-label>
        <input matInput type="text" [(ngModel)]="lastname">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>E-Mail (required)</mat-label>
        <input matInput type="email" [(ngModel)]="email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Current password (required)</mat-label>
        <input matInput type="password" [(ngModel)]="old_password">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New password (optional)</mat-label>
        <input matInput type="password" [(ngModel)]="password">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm new password</mat-label>
        <input matInput type="password" [(ngModel)]="confirmpassword">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Office location (required)</mat-label>
        <mat-select [(ngModel)]="officeLocation">
          <mat-option value="Berlin">Berlin</mat-option>
          <mat-option value="Frankfurt">Frankfurt</mat-option>
          <mat-option value="Fürth">Fürth</mat-option>
          <mat-option value="München">München</mat-option>
          <mat-option value="Nürnberg">Nürnberg</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button class="edit-button" (click)="edit()">Confirm</button>
    </mat-dialog-content>
</body>
