<form [formGroup]="ticketFormGroup!" (submit)="submitTicket()">
  <div class="grid grid-cols-2 gap-4">
    <div class="col-span-2">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput id="title" type="text" formControlName="title">
      </mat-form-field>
    </div>

    <div class="col-span-2">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput id="description" type="text" formControlName="description">
      </mat-form-field>
    </div>

    <div class="col-span-2">
      <mat-form-field>
        <mat-label>Keywords</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter keywords">
          <mat-chip-row *ngFor="let keyword of ticketFormGroup!.value.keywords"
                        (removed)="removeKeyword(keyword)"
                        [editable]="true"
                        (edited)="editKeyword(keyword, $event)"
                        [aria-description]="'press enter to edit ' + keyword">
            {{ keyword }}
            <button matChipRemove [attr.aria-label]="'remove ' + keyword">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>

          <input placeholder="New Keyword..."
                 [matChipInputFor]="chipGrid"
                 [matChipInputSeparatorKeyCodes]="[ENTER, COMMA]"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addKeyword($event)"/>
        </mat-chip-grid>
      </mat-form-field>
    </div>

    <div class="col-start-1 col-span-1">
      <mat-form-field>
        <mat-label>Service</mat-label>
        <mat-select id="service" formControlName="service">
          <mat-option *ngFor="let service of serviceValues" [value]="service">{{ service }}</mat-option>
        </mat-select>
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="ticketFormGroup!.hasError('required', 'service')">Service is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-start-2 col-span-1">
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select id="category" formControlName="category">
          <mat-option *ngFor="let category of categoryValues" [value]="category">{{ category }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-start-1 col-span-1">
      <mat-form-field>
        <mat-label>Request type</mat-label>
        <mat-select id="requestType" formControlName="requestType">
          <mat-option *ngFor="let requestType of RequestType | keyvalue"
                      [value]="requestType.value">{{ requestType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-start-2 col-span-1">
      <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select id="priority" formControlName="priority">
          <mat-option *ngFor="let prio of Prio | keyvalue" [value]="prio.value">{{ prio.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-start-1 col-span-2">
      <button mat-button type="submit" class="primary">Submit</button>
    </div>
  </div>
</form>
