<body style="--main-bg-color: #313131; --accent-color: #10ddd3; --hover-color: #00828f; --text-color: #fff; background-color: var(--main-bg-color); overflow-y: auto">
    <h1 mat-dialog-title class="dialog-title">Session Expired</h1>
    <mat-dialog-content class="dialog-content">
      <div class="dialog-message">
        Your session has expired. <br />Please login again.
      </div>
      <button mat-button class="login-button" (click)="closeDialog()">OK</button>
    </mat-dialog-content>
</body>